body {
    background-color: #eaeaea;
}

p {
    text-indent: 15px;
}

h1 {
    font-size: 1.8em;
    margin: 10px 0 5px 0;
}

strong {
    font-weight: bold;
}

ul, ol {
    margin-left: 25px;
}

header {
    padding: 10px;
    min-height: 48px;
    height: 100px;
}

#logo {
    text-decoration: none;
    float: left;
    margin-right: 10px;
}

header h1 {
    text-align: right;
    color: #3b8dbd;
}

#content {
    padding: 10px 10px 10px 10px;
    margin-bottom: 35px;
}

#breadcrumb {
    background: #dcdcdc  3px center no-repeat;
    padding: 10px 5px 10px 40px;
    border: 1px solid #60c7c1;
    border-radius: 3px;
    box-shadow: 1px 1px 3px #c2c2c2;
    color: #245674;
}

.clear {
    clear: both;
}

footer {
    text-align: center;
    bottom: 0;
    position: fixed;
    width: 100%;
    background-color: #60c7c1;
    color: #ffffff;
    font-size: 0.9em;
    padding: 8px;
}

.saveButton{
    background:  url("../img/save1.png")3px center no-repeat;
    font-size: 17px;
    padding: 18px;
    border-radius: 50%;
}

.cancelButton{
    background:  url("../img/cancel1.png")3px center no-repeat;
    font-size: 17px;
    padding: 18px;
    border-radius: 50%;
}